.jakeimg{position: relative; float: right; }


/*-- This is dropdown --- */
.css-rg9wio {
    animation: fade--in 0.3s ease-in-out;
  }
  
  @keyframes fade--in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  